<template>
  <div class="find_your_nearest">
    <h1 class="find_your_nearest__title">{{title}}</h1>

    <div class="find_your_nearest__map" ref="findYourNearest">
      <GoogleMaps
        :groups="groups"
        :local-groups-page="localGroupsPage"
        :location="location"
        @select-group="selectGroup"
      />
    </div>

    <div class="find_your_nearest__search">
      <Search :default-location="location" v-on:submit="submit" />
    </div>

    <div class="find_your_nearest__results" v-if="selectedGroup">
      <SelectedGroup
        :group="selectedGroup"
        :location="location"
        @close="closeSelectedGroup"
        :showCloseButton="true"
      />
    </div>

    <div class="find_your_nearest__view_all" v-if="!selectedGroup">
      <button
        type="button"
        class="find_your_nearest__view_all__button"
        aria-label="View all XRMCR Local Groups"
        @click="viewAll"
      >{{ buttonText }}</button>
    </div>

    <div class="find_your_nearest__results" v-if="showAllGroups">
      <AllGroups :groups="groups" />
    </div>
  </div>
</template>

<script>
import GoogleMaps from './components/GoogleMaps.vue';
import Search from './components/Search.vue';
import SelectedGroup from './components/SelectedGroup.vue';
import AllGroups from './components/AllGroups.vue';

export default {
  name: 'app',
  data: ({ $root }) => ({
    groups: $root.groups,
    localGroupsPage: $root.localGroupsPage || '',
    location: $root.defaultLocation || '',
    selectedGroup: undefined,
    title: $root.title || 'Local Groups',
    showAllGroups: false,
  }),
  components: {
    GoogleMaps,
    Search,
    SelectedGroup,
    AllGroups,
  },
  computed: {
    buttonText() {
      return this.showAllGroups ? 'Hide all' : 'View all';
    },
  },
  methods: {
    closeSelectedGroup() {
      this.location = '';
      this.selectedGroup = undefined;
    },
    submit(searchLocation) {
      this.$refs.findYourNearest.scrollIntoView();
      this.location = searchLocation;
      if (!searchLocation) this.selectedGroup = undefined;
      this.showAllGroups = false;
    },
    selectGroup(group) {
      this.selectedGroup = group;
      this.showAllGroups = false;
    },
    viewAll() {
      this.showAllGroups = !this.showAllGroups;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "scss/css-vars";
@import "scss/find-your-nearest";
</style>
