<template>
    <div class="audio-player">
        <div class="audio-player__controls">

            <div class="audio-player__control">
                <PlayPause :playing="playing"
                           :buffering="buffering"
                           @play="play"
                           @pause="pause"
                />
            </div>

            <div class="audio-player__control">
                <MuteUnmute :muted="muted"
                            @mute="mute"
                            @unmute="unmute"/>
            </div>
        </div>
        <div class="audio-player__title">
            {{name}}
        </div>
    </div>
</template>

<script>

import PlayPause from './PlayPause.vue';
import MuteUnmute from './MuteUnmute.vue';

export default {
  name: 'AudioPlayer',
  components: {
    PlayPause,
    MuteUnmute,
  },
  props: {
    file: String,
    name: String,
  },
  data: () => ({
    audio: undefined,
    playing: false,
    muted: false,
    buffering: false,
  }),
  methods: {
    loadAudio() {
      this.audio = new Audio(this.file);
      this.audio.addEventListener('ended', this.ended);
    },
    ended() {
      this.rewind();
      this.playing = false;
    },
    play() {
      this.audio.play();

      this.buffering = true;
      this.buffercheck()
        .then(() => {
          this.buffering = false;
          this.playing = true;
        });
    },
    buffercheck() {
      let promiseResolver;

      const promise = new Promise((resolve) => {
        promiseResolver = resolve;
      });

      const checkState = () => {
        if (this.audio.buffered.length > 0) {
          const end = this.audio.buffered.end(0);
          const { duration } = this.audio;
          const percent = (end / duration) * 100;

          if (percent > 70) {
            // We've got enough to play
            promiseResolver();
          } else {
            // Buffering
            setTimeout(checkState, 50);
          }
        } else {
          // Buffering not started yet
          setTimeout(checkState, 10);
        }
      };

      checkState();

      return promise;
    },
    pause() {
      this.audio.pause();
      this.playing = false;
    },
    rewind() {
      this.audio.currentTime = 0;
    },
    mute() {
      this.audio.muted = true;
      this.muted = true;
    },
    unmute() {
      this.audio.muted = false;
      this.muted = false;
    },

  },
  mounted() {
    this.loadAudio();
  },
};
</script>


<style scoped>
    .audio-player {
        background-color: var(--background-color, #000);
        border: 4px solid var(--primary, #FFF);
        display: inline-flex;
    }

    .audio-player__controls {
        display: inline-flex;
        padding: 10px;
    }

    .audio-player__control {
        margin-right: 20px
    }

    .audio-player__control:last-child {
        margin-right: 0;
    }

    .audio-player__title {
        align-items: center;
        color: var(--font-color, #FFF);
        display: flex;
        flex-grow: 1;
        line-height: 1.5em;
        padding: 10px;
        text-align: left;
    }

</style>
