<template>

    <button class="mute-unmute" @click="toggle">

        <span v-if="!muted">
            <svg version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px"
                 y="0px"
                 viewBox="0 0 459 459"
                 style="enable-background:new 0 0 459 459;"
                 xml:space="preserve">

                <path d="M0,153v153h102l127.5,127.5v-408L102,153H0z M344.25,229.5c0-45.9-25.5-84.15-63.75-102v204
                  C318.75,313.65,344.25,275.4,344.25,229.5z M280.5,5.1v53.55C354.45,81.6,408,147.899,408,229.5S354.45,377.4,280.5,400.35V453.9
                    C382.5,430.949,459,339.15,459,229.5C459,119.85,382.5,28.049,280.5,5.1z"/>

            </svg>
            <span class="sr-only">Mute</span>
        </span>

        <span v-if="muted">
                <svg version="1.1" id="Capa_1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     x="0px" y="0px"
                     viewBox="0 0 461.55 461.55"
                     style="enable-background:new 0 0 461.55 461.55;"
                     xml:space="preserve"
                     aria-hidden="true">

    		    <path d="M345.525,229.5c0-45.9-25.5-84.15-63.75-102v56.1l63.75,63.75C345.525,239.7,345.525,234.6,345.525,229.5z M409.275,229.5
	    		    c0,22.95-5.1,45.9-12.75,66.3l38.25,38.25c17.85-30.6,25.5-68.85,25.5-107.1c0-109.65-76.5-201.45-178.5-224.4V56.1
		    	    C355.725,81.6,409.275,147.9,409.275,229.5z M34.425,0L1.275,33.15L121.125,153H1.275v153h102l127.5,127.5V262.65L340.425,372.3
			        c-17.851,12.75-35.7,22.95-58.65,30.601v53.55c35.7-7.65,66.3-22.95,94.35-45.9l51,51l33.15-33.149l-229.5-229.5L34.425,0z
                    M230.775,25.5l-53.55,53.55l53.55,53.55V25.5z"/>
            </svg>
            <span class="sr-only">Unmute</span>

        </span>

    </button>
</template>

<script>
export default {
  name: 'MuteUnmute',
  props: {
    muted: Boolean,
  },
  methods: {
    mute() {
      this.$emit('mute');
    },
    unmute() {
      this.$emit('unmute');
    },
    toggle() {
      if (this.muted) {
        this.unmute();
      } else {
        this.mute();
      }
    },
  },
};
</script>

<style scoped>


    .mute-unmute {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        display: block;
        height: 20px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        width: 20px;
    }

    .mute-unmute:focus {
        outline-color: var(--secondary, #FFF);
        outline-offset: 5px;
    }

    .sr-only {
        position: absolute;
        top: -10000px;
    }


    .mute-unmute svg {
        fill: var(--button-color, #FFF);
        transition: fill 200ms linear;
    }

    .mute-unmute:hover svg,
    .mute-unmute:focus svg {
        fill: var(--button-color-active, #CC9900);
    }

</style>
