<template>

    <button class="play-pause" @click="toggle">

        <span v-if="buffering">
            <div class="lds-dual-ring"></div>
            <span class="sr-only">Loading</span>
        </span>

        <span v-if="!buffering && !playing">
            <svg version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px"
                 y="0px"
                 viewBox="0 0 41.999 41.999"
                 style="enable-background:new 0 0 41.999 41.999;"
                 xml:space="preserve"
                 aria-hidden="true">

                <path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40
                    c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20
                    c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z"/>

            </svg>
            <span class="sr-only">Play</span>
        </span>

        <span v-if="!buffering && playing">
            <svg version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px"
                 y="0px"
                 viewBox="0 0 438.536 438.536"
                 style="enable-background:new 0 0 438.536 438.536;"
                 xml:space="preserve"
                 aria-hidden="true">

                    <g>
                        <path d="M164.453,0H18.276C13.324,0,9.041,1.807,5.425,5.424C1.808,9.04,0.001,13.322,0.001,18.271v401.991
                            c0,4.948,1.807,9.233,5.424,12.847c3.619,3.617,7.902,5.428,12.851,5.428h146.181c4.949,0,9.231-1.811,12.847-5.428
                            c3.617-3.613,5.424-7.898,5.424-12.847V18.271c0-4.952-1.807-9.231-5.428-12.847C173.685,1.807,169.402,0,164.453,0z"/>
                        <path d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H274.086c-4.949,0-9.237,1.807-12.847,5.424
                            c-3.621,3.615-5.432,7.898-5.432,12.847v401.991c0,4.948,1.811,9.233,5.432,12.847c3.609,3.617,7.897,5.428,12.847,5.428h146.181
                            c4.948,0,9.229-1.811,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z"/>
                    </g>

            </svg>
            <span class="sr-only">Pause</span>
        </span>

    </button>
</template>

<script>
export default {
  name: 'PlayPause',
  props: {
    playing: Boolean,
    buffering: Boolean,
  },
  methods: {
    play() {
      this.$emit('play');
    },
    pause() {
      this.$emit('pause');
    },
    toggle() {
      if (this.buffering) return;

      if (this.playing) {
        this.pause();
      } else {
        this.play();
      }
    },
  },
};
</script>

<style scoped>


    .play-pause {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        display: block;
        height: 20px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        width: 20px;
    }

    .play-pause:focus {
        outline-color: var(--secondary, #FFF);
        outline-offset: 5px;
    }

    .sr-only {
        position: absolute;
        top: -10000px;
    }


    .play-pause svg {
        fill: var(--button-color, #FFF);
        transition: fill 200ms linear;
    }

    .play-pause:hover svg,
    .play-pause:focus svg {
        fill: var(--button-color-active, #CC9900);
    }


    .lds-dual-ring {
        display: inline-block;
        width: 25px;
        height: 25px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 13px;
        height: 13px;
        margin-top: 2px;
        border-radius: 50%;
        border: 2px solid var(--button-color-active, #CC9900);
        border-color: var(--button-color-active, #CC9900) transparent var(--button-color-active, #CC9900) transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

</style>
