<template>
  <div>
    <SelectedGroup
      v-for="group in groups"
      v-bind:key="group.name"
      :showCloseButton="false"
      :group="group"
      :location="group.location"
    />
  </div>
</template>

<script>
import SelectedGroup from './SelectedGroup.vue';

export default {
  name: 'AllGroups',
  props: {
    groups: Array,
  },
  components: {
    SelectedGroup,
  },
  methods: {},
};
</script>
