<template>
  <div class="map"></div>
</template>

<script>
import uuidv1 from 'uuid/v1';
import gmapsInit from '../utils/gmaps';

const markerIcon = {
  fillColor: '#FDC916',
  fillRule: 'non-zero',
  path:
      'M18,0 C27.8,0 35.7,7.8 35.7,17.4 C35.7,32.6 18,48 18,48 C18,48 0.3,32.9 0.3,17.4 C0.3,7.8 8.2,0 18,0 Z M18.5,22 C21.5375661,22 24,19.5375661 24,16.5 C24,13.4624339 21.5375661,11 18.5,11 C15.4624339,11 13,13.4624339 13,16.5 C13,19.5375661 15.4624339,22 18.5,22 Z',
  fillOpacity: 1,
  strokeColor: '#000',
  strokeWeight: 2,
  scale: 0.8,
  anchor: { x: 18, y: 48 },
};

const mapZoomLevel = {
  default: 11,
  selectedLocation: 13,
};

const mapStyles = [
  {
    featureType: 'poi',
    stylers: [{ visibility: 'off' }],
  },
  {
    featureType: 'transit',
    elementType: 'labels.icon',
    stylers: [{ visibility: 'off' }],
  },
  {
    featureType: 'road',
    elementType: 'geometry',
    stylers: [{ color: '#FDC916' }],
  },
  {
    featureType: 'road',
    elementType: 'geometry.stroke',
    stylers: [{ visibility: 'off' }],
  },
];

const mapsConfig = {
  disableDefaultUI: false,
  clickableIcons: false,
  mapTypeControl: false,
  streetViewControl: false,
  fullscreenControl: false,
  rotateControl: false,
  styles: mapStyles,
};

export default {
  name: 'GoogleMap',
  model: {
    prop: 'location',
  },
  props: {
    location: String,
    localGroupsPage: String,
    groups: Object,
  },
  computed: {
    locations: $el => Object.entries($el.groups)
      .map(group => group[1])
      .filter(group => group.coordinates)
      .map(group => ({
        ...group,
        coordinates: JSON.parse(group.coordinates).coordinates,
      }))
      .map(location => ({
        ...location,
        lat: location.coordinates[1],
        lng: location.coordinates[0],
        id: uuidv1(),
      })),
  },
  data: () => ({
    google: null,
    map: null,
    geocoder: null,
    infoWindows: {},
    markers: [],
  }),
  watch: {
    location(newVal) {
      this.gotoLocation(newVal);
    },
  },
  methods: {
    findLocation(address) {
      let geocoderResolve;
      let geocoderReject;

      const geocoderPromise = new Promise((resolve, reject) => {
        geocoderResolve = resolve;
        geocoderReject = reject;
      });

      const geocodeOptions = {
        address,
        componentRestrictions: {
          country: 'UK',
        },
      };

      this.geocoder.geocode(geocodeOptions, (results, status) => {
        if (status !== 'OK' || !results.length) return geocoderReject(status);
        return geocoderResolve(results);
      });

      return geocoderPromise;
    },

    async gotoLocation(location) {
      const { google } = this;

      if (location) {
        const results = await this.findLocation(location);
        const nearest = this.calculateNearestGroup(
          results[0].geometry.location,
        );
        const marker = this.markers.find(_marker => _marker.id === nearest.id);
        this.zoomToMarker(marker);
        this.$emit('select-group', nearest);
      } else {
        const lat = 53.478284;
        const lng = -2.244372;
        const manchester = new google.maps.LatLng({ lat, lng });

        this.map.setZoom(mapZoomLevel.default);
        this.map.panTo(manchester);
      }
    },

    zoomToMarker(marker) {
      this.map.setZoom(mapZoomLevel.selectedLocation);
      this.map.panTo(marker.getPosition());
    },

    markerClickHandler(marker) {
      this.zoomToMarker(marker);
      const location = this.locations.find(
        _location => _location.id === marker.id,
      );
      this.$emit('select-group', location);
    },

    plotMarkers() {
      const { google, locations } = this;

      this.markers = locations.map((_location) => {
        const {
          lat, lng, name, location, id,
        } = _location;

        const markerLocation = {
          position: new google.maps.LatLng({ lat, lng }),
          name,
          location,
          id,
          map: this.map,
          icon: markerIcon,
        };

        const marker = new google.maps.Marker(markerLocation);

        marker.addListener('click', () => this.markerClickHandler(marker));

        return marker;
      });
    },

    calculateNearestGroup(fromLocation) {
      const { maps } = this.google;
      const computeDistance = maps.geometry.spherical.computeDistanceBetween;

      const locationsWithDistance = this.locations
        .map(location => ({
          ...location,
          latLng: new maps.LatLng({ lat: location.lat, lng: location.lng }),
        }))
        .map(location => ({
          ...location,
          distance: computeDistance(fromLocation, location.latLng),
        }))
        .sort((a, b) => a.distance - b.distance);

      return locationsWithDistance[0];
    },
  },
  async mounted() {
    this.google = await gmapsInit();
    this.map = new this.google.maps.Map(this.$el, mapsConfig);
    this.geocoder = new this.google.maps.Geocoder();

    this.plotMarkers();
    await this.gotoLocation(this.location);
  },
};
</script>


<style lang="scss" scoped>
  @import "../scss/maps";
</style>
