<template>
  <div class="selected-group">
    <button
      class="selected-group__close"
      aria-label="Close Selected Group"
      @click="close"
      v-if="showCloseButton"
    >
      <svg
        aria-hidden="true"
        focusable="false"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 352 512"
      >
        <path
          d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"
        />
      </svg>
    </button>

    <h2 class="selected-group__title">{{group.name}}</h2>

    <p class="selected-group__distance" v-if="group.distance">
      {{group.distance | metresToMiles}}
      {{group.distance | metresToMiles | mileOrMiles }}
      away
    </p>

    <p class="selected-group__notes" v-if="group.notes">{{group.notes}}</p>

    <p class="selected-group__location" v-if="group.location">{{group.location}}</p>

    <p class="selected-group__when" v-if="group.day || group.time">{{group.day}} {{group.time}}</p>

    <p class="selected-group__email" v-if="group.email">
      <a :href="group.email | mailto">{{group.email}}</a>
    </p>

    <p class="selected-group__socials" v-if="group.facebook || group.instagram">
      <Facebook v-if="group.facebook" :url="group.facebook" class="selected-group__social" />

      <Instagram v-if="group.instagram" :url="group.instagram" class="selected-group__social" />
    </p>
  </div>
</template>

<script>
import Facebook from './Facebook.vue';
import Instagram from './Instagram.vue';

export default {
  name: 'SelectedGroup',
  components: { Instagram, Facebook },
  props: {
    location: String,
    group: Object,
    showCloseButton: Boolean,
  },
  component: {
    Facebook,
    Instagram,
  },
  methods: {
    close() {
      this.$emit('close');
    },
  },
  filters: {
    mileOrMiles(distance) {
      return distance === 1 ? 'mile' : 'miles';
    },
    mailto(email) {
      return `mailto:${email}`;
    },
    metresToMiles(meters) {
      const milesPerMeter = 0.00062137;
      return +(meters * milesPerMeter).toFixed(1);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/selected-group";
</style>
