<template>
  <div class="searchResults">
    <h1 class="searchResults__header">Top Results for &quot;{{term}}&quot;</h1>

    <div v-if="results.length === 0">
      <p class="searchResults__excerpt">
        Sorry, no results were found for &quot;{{term}}&quot;.
      </p>
    </div>

    <div v-if="results.length > 0">
      <ul class="searchResults__results">
        <li class="searchResults__result" v-for="result in results" v-bind:key="result.permalink">
            <h2 class="searchResults__title">
              <a class="searchResults__titleLink"
                 v-bind:href="result.permalink"
                 v-html="result.title"></a>
            </h2>
            <p class="searchResults__excerpt"
               :inner-html.prop="result.excerpt | kramdown | striptags | stripslashes"></p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import * as JsSearch from 'js-search';
import * as kramed from 'kramed';
import * as striptags from 'striptags';
import * as slashes from 'slashes';

kramed.setOptions({
  renderer: new kramed.Renderer(),
  gfm: true,
  tables: true,
  breaks: false,
  pedantic: false,
  sanitize: true,
  smartLists: true,
  smartypants: false,
});

export default {
  name: 'SearchResults',
  model: {
    prop: 'searchTerm',
    event: 'submit',
  },
  props: {
    pages: Array,
    searchTerm: String,
  },
  filters: {
    kramdown(content) {
      return kramed(content);
    },
    striptags(content) {
      return striptags(content);
    },
    stripslashes(content) {
      return slashes.strip(content);
    },
  },
  data: ({ searchTerm }) => ({
    term: searchTerm || '',
    results: [],
  }),
  watch: {
    searchTerm(newVal) {
      this.term = newVal;
      this.doSearch();
    },
    pages() {
      this.doSearch();
    },
  },
  mounted() {
    this.doSearch();
  },
  methods: {
    doSearch() {
      const { term, pages } = this;
      const search = new JsSearch.Search('title');
      search.addIndex('content');
      search.addIndex('excerpt');
      search.addDocuments(pages);

      this.results = search.search(term);
    },
  },
};
</script>


<style scoped lang="scss">

  @import "../scss/variables";

  .searchResults {
    margin: 40px auto;
    max-width: 600px;
  }

  .searchResults__header {
    font-family: var(--search-results-header-font-family, Arial);
    font-size: var(--search-results-header-font-size, 20px);
    margin-bottom: 40px;
  }


  .searchResults__results {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
  }

  .searchResults__result {
    padding-bottom: 20px;
    border-bottom: 1px dashed var(--search-result-border-color, #{$brand-primary});
    margin-bottom: 20px;

    &:last-child {
      border-bottom: none;
    }
  }

  .searchResults__title {
    font-family: var(--search-result-font-family, Arial);
    margin-bottom: 5px;
  }

  .searchResults__titleLink{
    color: var(--search-result-color, #{$xr_dark_blue});
    font-size: var(--search-result-font-size, 16px);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .searchResults__excerpt {
    color: var(--search-excerpt-color, #{$brand-primary});
    font-family: var(--search-excerpt-font-family, 16px);
    font-size: var(--search-excerpt-font-size, 16px);
    margin: 0;
  }

</style>
