<template>
  <form @submit="onSubmit($event)">
    <div class="searchBox"
         :class="{
            'searchBox--focus': hasFocus,
            'searchBox--hasContent': !!value,
         }">

      <label class="searchBox__label" for="searchText">
        {{label}}
      </label>

      <input class="searchBox__input"
             id="searchText"
             name="searchBox__input"
             @focus="onFocus()"
             @blur="onBlur()"
             @keyup="onKeyUp()"
             v-model="value"
             autocomplete="off"
      />
    </div>

  </form>
</template>

<script>
export default {
  name: 'SearchBox',
  model: {
    prop: 'searchTerm',
    event: 'submit',
  },
  props: {
    searchTerm: String,
  },
  data: ({ searchTerm, $root }) => ({
    value: searchTerm || '',
    hasFocus: false,
    label: $root.label || 'Enter your search term...',
  }),
  watch: {
    searchTerm(newVal) {
      this.value = newVal;
    },
  },
  methods: {
    onFocus() {
      this.hasFocus = true;
    },
    onBlur() {
      this.hasFocus = false;
    },
    onKeyUp() {
      this.$emit('onChange', this.value);
    },
    onSubmit($event) {
      $event.preventDefault();
    },
  },
};
</script>


<style scoped lang="scss">

  @import "../scss/variables";

  .searchBox {
    display: block;
    position: relative;
    border-bottom: 2px solid var(--search-border-bottom-color, #{$dark-gray});
    margin: 20px auto auto;
    max-width: 600px;

    &:after {
      position: absolute;
      display: block;
      content: '';
      left: 50%;
      right: 50%;
      border-bottom: 2px solid var(--search-active-border-bottom-color, $brand-contrast);
      transition: all 200ms;
    }
  }

  .searchBox--focus:after {
    left: 0;
    right: 0;
  }

  .searchBox__label {
    color: var(--search-label-color, $brand-primary);
    font-family: var(--search-label-font-family, Arial);
    font-size: var(--search-label-font-size, 20px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: all 250ms;
  }

  .searchBox--hasContent .searchBox__label,
  .searchBox--focus .searchBox__label {
    color: var(--search-active-label-color, $dark-gray);
    font-size: var(--search-active-label-font-size, 16px);
    transform: none;
    top: -20px;
  }

  .searchBox__input {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    display: block;
    margin: 0;
    padding: 16px 0;
    font-family: var(--search-input-font-family, Arial);
    font-size: var(--search-input-font-size, 20px);
    width: 100%;
    z-index: 1;

    &:focus {
      outline: none;
    }
  }

</style>
