<template>
  <div id="search-app">
    <SearchBox :search-term="searchTerm" @onChange="onChange($event)"/>
    <SearchResults v-if="searchTerm.length >= 3 && pages" :search-term="searchTerm" :pages="pages"/>
  </div>
</template>

<script>
import store from './store';
import fetchSearchData from './services/fetch-search-data';

import SearchBox from './components/SearchBox.vue';
import SearchResults from './components/SearchResults.vue';

export default {
  store,
  name: 'app',
  components: {
    SearchBox,
    SearchResults,
  },
  computed: {
    pages() {
      return this.$store.state.pages;
    },
  },
  data: ({ $root }) => ({
    api: $root.api,
    searchTerm: '',
  }),
  async beforeMount() {
    const searchResults = await fetchSearchData(this.api);
    searchResults.map(page => store.dispatch('addPage', page));
  },
  methods: {
    onChange(value) {
      this.searchTerm = value;
    },
  },
};
</script>

<style scoped>
  #search-app {
    padding-left: 20px;
    padding-right: 20px;
  }
</style>
