$xr_green: #14aa37;
$xr_black: #000000;
$xr_lemon: #f7ee6a;
$xr_light_blue: #75d0f1;
$xr_pink: #ed9bc4;
$xr_purple: #986297;
$xr_light_green: #bed276;
$xr_warm_yellow: #ffc11e;
$xr_bright_pink: #cf6298;
$xr_red: #dc4f00;
$xr_dark_blue: #3860aa;
$xr_angry: #c80082;

$brand-primary: #111111;
$brand-contrast: #fdc916;

$gray: #7a8288;
$dark-gray: mix(#000, $gray, 40%);
$darker-gray: mix(#000, $gray, 60%);
$light-gray: mix(#fff, $gray, 50%);
$lighter-gray: mix(#fff, $gray, 90%);
