@mixin small {
  @media (min-width: #{$small}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin medium-wide {
  @media (min-width: #{$medium-wide}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin extra-large {
  @media (min-width: #{$x-large}) {
    @content;
  }
}
