@import "variables";

:root {
  --gray: #{$gray};
  --white: #{$white};
  --brand-primary: #{$brand-primary};
  --brand-contrast: #{$brand-contrast};
  --header-font: #{$fucxed-caps};
  --body-font: #{$crimson-text};
  --header-font-family: #{$header-font-family};
  --body-font-family: #{$body-font-family};
}
