@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/crimsontext/v9/wlp2gwHKFkZgtmSR3NB0oRJfbwhTIfFd3A.woff2) format("woff2");
}

@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/crimsontext/v9/wlppgwHKFkZgtmSR3NB0oRJX1C1GDNNQ9rJPfw.woff2) format("woff2");
}

@font-face {
  font-family: "FUCXED CAPS";
  src: url("https://xrmcr.org/assets/css/fonts/FUCXEDCAPSRegular.woff2") format("woff2"), url("https://xrmcr.org/fonts/FUCXEDCAPSRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
