// Colours
$gray: #7a8288;
$brand-primary: #111111;
$brand-contrast: #fdc916;
$white: #fff;
$text-highlight: $brand-contrast;

// Fonts
$crimson-text: Crimson Text;
$fucxed-caps: FUCXED CAPS;

$header-font-family: $fucxed-caps, "Helvetica Neue", Arial, sans-serif;
$body-font-family: $crimson-text, Georgia, Times, serif;

// Breakpoints
$small: 600px;
$medium: 768px;
$medium-wide: 900px;
$large: 1024px;
$x-large: 1280px;
