@import "variables";
@import "fonts";
@import "breakpoint-mixins";

.find_your_nearest {
  display: flex;
  flex-direction: column;

  &,
  * {
    box-sizing: border-box;
  }

  &__title {
    background-color: var(--brand-contrast, $brand-contrast);
    font-family: var(--header-font-family, $header-font-family);
    color: var(--title-color, $brand-primary);
    text-align: center;
    margin: 0;
    padding: 10px;
    order: 1;

    @include medium {
      text-align: left;
    }

  }

  &__map {
    background-color: var(--brand-contrast, $brand-contrast);
    height: 300px;
    order: 2;
  }

  &__search {
    background-color: var(--brand-contrast, $brand-contrast);
    order: 3;
    padding: 10px;
  }

  &__view_all {
    margin-top: 20px;
    margin-bottom: 20px;
    order: 4;
    align-self: center;
    justify-content: center;
  }

  &__results {
    order: 4;
    padding: 10px;

    @include medium {
      padding: 10px 0;
    }
  }
}

.find_your_nearest__view_all__button {
  background-color: $brand-primary;
  color: $white;
  font-family: $header-font-family;
  font-size: 24px;
  padding: 14px 28px;
  border-radius: 4px;
  line-height: 1;
}


