@import "variables";
@import "breakpoint-mixins";

.search {
  &__form {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
  }

  &__input {
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    display: block;
    font-family: var(--body-font-family, $body-font-family);
    font-size: 16px;

    height: 40px;
    margin-bottom: 0;
    padding: 0 10px !important;
    width: calc(100% - 50px);

    &:active,
    &:focus,
    &:hover {
      box-shadow: none;
    }
  }

  &__submit {
    border: 0;
    border-radius: 4px;
    background-color: var(--white, $white);
    box-sizing: border-box;
    color: var(--gray, $gray);
    display: block;
    height: 40px;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;

    svg {
      color: var(--brand-primary, $brand-primary);
      max-height: 100%;
      max-width: 100%;
    }

    &:focus {
      box-shadow: none;
    }
  }
}
