@import "variables";
@import "breakpoint-mixins";

.selected-group {
  border-left: 4px solid var(--brand-contrast, $brand-contrast);
  margin: 0 0 30px 0;
  padding: 0 0 0 10px;
  position: relative;

  &__title {
    font-family: var(--header-font-family, $header-font-family);
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0;
    word-break: break-all;
  }

  &__title,
  &__distance {
    padding-right: 40px;
  }

  &__close {
    background-color: white;
    border: 2px solid black;
    border-radius: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 11px;
    height: 30px;
    margin: 0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 0;
    width: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    @include medium {
      right: 15px;
    }

    svg {
      fill: var(--brand-primary, $brand-primary);
      max-height: 100%;
      max-width: 100%;
    }

    &:focus,
    &:hover {
      background-color: var(--brand-contrast, $brand-contrast);
      border-color: var(--brand-contrast, $brand-contrast);

      svg {
        fill: white;
      }
    }
  }

  &__distance,
  &__location,
  &__when,
  &__email,
  &__notes {
    font-family: var(--body-font-family, $body-font-family);
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &__notes {
    font-size: 20px;
    margin-bottom: 20px;
    background-color: $text-highlight;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &__socials {
    height: 42px;
    margin: 0;
  }

  &__distance {
    margin-bottom: 15px;
  }

  &__social {
    display: inline-block;
    height: 45px;
    margin-right: 10px;
    width: 45px;

    &:last-child {
      margin-right: 0;
    }
  }
}
