@import "variables";

.social {
  fill: var(--brand-primary, $brand-primary);
  overflow: hidden;
  transition: fill 0.3s;

  svg {
    max-height: 100%;
    max-width: 100%;
  }

  &:focus,
  &:hover {
    fill: var(--brand-contrast, $brand-contrast);
    outline-color: var(--brand-contrast, $brand-contrast);
  }
}
