<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
        @font-face {
            font-family: "Crimson Text";
            font-style: normal;
            font-weight: 400;
            src: local("Crimson Text Regular"), local("CrimsonText-Regular"), url(https://fonts.gstatic.com/s/crimsontext/v9/wlp2gwHKFkZgtmSR3NB0oRJfbwhTIfFd3A.woff2) format("woff2");
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        @font-face {
            font-family: "Crimson Text";
            font-style: normal;
            font-weight: 700;
            src: url(https://fonts.gstatic.com/s/crimsontext/v9/wlppgwHKFkZgtmSR3NB0oRJX1C1GDNNQ9rJPfw.woff2) format("woff2");
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        @font-face {
            font-family: "FUCXED CAPS";
            src: url("https://xrmcr.org/assets/css/fonts/FUCXEDCAPSLatin-Regular.woff2") format("woff2"),
            url("https://xrmcr.org/assets/css/fonts/FUCXEDCAPSLatin-Regular.woff") format("woff");
            font-weight: normal;
            font-style: normal
        }

        html, body {
            margin: 0;
            padding: 10px 0 20px;
            background-color: #fdc916;
        }

        body {
            padding: 0;
        }

        .header {
            padding: 10px;
            margin-bottom: 0;
        }

        .header__link {
            text-decoration: none;
        }

        .header__image {
            height: 40px;
        }

        .container {
            display: block;
            margin: auto;
            max-width: 500px;
        }

        .articles__title {
            color: #000;
            font-family: FUCXED CAPS, Arial;
            font-size: 26px;
            font-weight: normal;
            text-decoration: none;
        }

        .articles__heading {
            margin: 10px 10px 20px;
            padding-bottom: 20px;
        }

        .article {
            background-color: #FFF;
            border-radius: 4px;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .article--hero {
            border-radius: 0;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.8);
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 30px;
        }

        .article__contents {
            padding: 20px;
        }

        .article__image {
            border-radius: 4px 4px 0 0;
            overflow: hidden;
        }

        .article__title {
            padding: 0;
            margin: 0;
        }

        .article__link {
            color: #000;
            font-family: FUCXED CAPS, Arial;
            font-size: 20px;
            font-weight: normal;
            text-decoration: none;
            text-transform: uppercase;
        }

        .article--hero .article__link {
            font-size: 30px;
        }

        .article__link:hover {
            text-decoration: underline;
        }

        .article__date {
            color: #333;
            font-family: Crimson Text, Arial;
            font-size: 14px;
            font-weight: normal;
        }

        .article--hero .article__date {
            font-size: 16px;
        }

        .article__excerpt {
            color: #333;
            font-family: Crimson Text, Arial;
            font-size: 16px;
            font-weight: normal;
        }

        .article--hero .article__excerpt {
            font-size: 18px;
        }

        .article__read-more {
            background-color: #000;
            border-radius: 4px;
            color: #FFF;
            display: inline-block;
            font-family: FUCXED CAPS, Arial;
            font-size: 20px;
            padding: 10px 20px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .article--hero .article__read-more {
            font-size: 24px;
        }

    </style>

</head>
<body>

<div class="container">

    <div class="header">
        <div class="header__xr-logo">

            <a class="header__link" href="https://xrmcr.org" title="Got o the Extinction Rebellion MCR website">

                <img class="header__image header__image--logo"
                     src="https://xrmcr.org/assets/images/extinction-rebellion-logo.png"
                     alt="Extinction Rebellion Logo"/>

                <img class="header__image header__image--bee"
                     src="https://xrmcr.org/assets/images/bee-logo.png"
                     alt="XRMCR Bee"/>
            </a>

        </div>
    </div>

    <div class="articles">

        <div class="articles__title">
            <h1 class="articles__heading"><%= title %></h1>
        </div>

        <% _.each(articles, function(article) { %>
        <div class="article <% if (article.hero) { %>article--hero <% } %>">

            <% if (article.image) { %>
            <div class="article__image">
                <a class="article__image-link" href="<%= article.url %>" title="<%= article.title %>">
                    <img class="article__image-tag"
                         src="<%= article.image.src %>"
                         alt="<%=article.image.alt %>"
                         width="100%"/>
                </a>
            </div>
            <% } %>

            <div class="article__contents">

                <h2 class="article__title">
                    <a class="article__link" href="<%= article.url %>" title="<%= article.title %>">
                        <%= article.title %>
                    </a>
                </h2>

                <p class="article__date">
                    <%= article.friendlyDate %>
                </p>

                <p class="article__excerpt">
                    <%= article.excerpt %>
                </p>

                <a class="article__read-more" href="<%= article.url %>" title="<%= article.title %>">
                    <% if (article.image) { %><%= article.cta %><% } else { %>Read More<% } %>
                </a>

            </div>

        </div>
        <% }); %>


    </div>
</div>
</body>
</html>
