<template>
    <div class="audio-player-app">
        <AudioPlayer :file="file" :name="name"/>
    </div>
</template>

<script>
import AudioPlayer from './components/AudioPlayer.vue';

export default {
  name: 'xrmcrAudioPlayer',
  data: ({ $root }) => ({
    file: $root.file,
    name: $root.name,
  }),
  components: {
    AudioPlayer,
  },
};
</script>

<style>
    .audio-player-app {
        font-family: var(--font-family, Arial);
        font-size: var(--font-base-size, 16px);
    }


    .audio-player-app .sr-only {
        position: absolute;
        top: -10000px;
    }
</style>
